.About {
  margin: auto;

  .innerWrapper {
    margin: auto;
    padding: 0 2rem;

    img {
      width: 16rem;
      float: right;
      margin: 0 1rem 1rem;
      border: 2px solid black;
    }
  }
}
