@import 'normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700');
@import './variables';

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-root;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  color: $theme-text-color;
  background-color: $theme-primary;
  overflow: auto;
}

section {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  max-width: 55rem;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: $headline-font-size;
  font-weight: bold;
  margin: auto;
}

h2 {
  font-size: $subheader-font-size;
  font-weight: bold;
}

h3,
h4,
h5,
h6 {
  font-size: 2rem;
  line-height: 2.7rem;
}

p,
input,
textarea,
select {
  font-family: 'Raleway', sans-serif;
  color: $theme-text-color;
  font-size: 1.3rem;
}

input,
textarea {
  margin: .6rem 0;
}

label {
  font-weight: 700;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $theme-text-color;
  font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: $breakpoint-mobile) {
  p,
  input,
  label,
  textarea {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  section {
    max-width: 65rem;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  section {
    max-width: 85rem;
  }
}
