@import './variables';

.Contact {
  padding: 0 2rem;

  .innerWrapper {
    padding: 0 4rem;
    margin: auto;

    form {
      display: flex;
      flex-flow: column nowrap;
      margin: auto;

      label {
        display: flex;
        flex-flow: column nowrap;
        margin: 1rem 0;
      }

      input,
      textarea {
        background: transparent;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        border-radius: 0;
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: rgb(248, 248, 248);
        margin-top: .6rem;
        outline: none;
        border: 1px solid black;
        padding: 5px 35px 5px 5px;
      }

      textarea {
        resize: none;
      }

      input[type="submit"] {
        background: $theme-accent;
        border: none;
        padding: 0.6rem;
        border-radius: 4px;
      }
    }
  }
}
