@import './variables';

.ContactButton {
  display: inline-flex;
  justify-content: center;
  background: $theme-accent;
  color: $theme-text-color;
  border-radius: 4px;
  font-size: 1.3rem;
  padding: .8rem 3rem;
}
