@import './variables';

.Header {
  background-color: $theme-secondary;
  display: flex;
  flex-flow: row nowrap;

  h2 {
    flex: 1 0 auto;
  }

  a {
    flex: 0 1 auto;
    align-self: center;
  }

}
