@import './variables';

/* Major refactoring for integrating react-hamburger-menu */

.Header {
  position: fixed;
  width: 100%;
  background-color: $theme-secondary;

  .innerWrapper {
    padding: 0 2rem;
    display: flex;
    flex-flow: row nowrap;

    h2 {
      flex: 1 0 auto;
      font-size: 2rem;
    }
  }
}
