/* Theme Colors */
$theme-accent: #64FFDA;
$theme-primary: #CFD8DC;
$theme-secondary: #90A4AE;
$theme-text-color: rgba(0, 0, 0, .8);

/* Breakpoints */
$breakpoint-mobile: 550px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/* Font Sizes */
$root-font-size: 10px;
$font-size-sm: 1.4rem;
$font-size-lg: 1.6rem;
$font-size-root: 10px;

/* Headline Sizes */
$headline-font-size: 6.5rem;
$subheader-font-size: 5rem;
$subheader-lg-font-size: 7rem;
